{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
         style="background-image: url('{% static 'theme/images/hero_1.jpg' %}');"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">About Us</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Hofffme</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>About Us</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row">
    {% for i in information %}
        <div class="col-12 m-3">
            <h2>{{ i.title }}</h2>

            {{ i.details|safe }}

        </div>
    {% endfor %}
</section>

{% endblock %}