{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
         style="background-image: url('{% static 'theme/images/hero_1.jpg' %}');"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">My Application</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>My Application</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-12 text-center">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Job</th>
                            <th>Organization</th>
                            <th>Applied Date</th>
                            <th>Deadline</th>
                            <th>Status</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for app in apps %}
                            <tr>
                                <td>{{ app.job.title }}</td>
                                <td>{{ app.job.organization.name }}</td>
                                <td>{{ app.date }}</td>
                                <td>{{ app.job.deadline }}</td>
                                <td>{{ app.status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}